Order Deny,Allow
Deny from All

<Files *>
  Order Deny,Allow
  Deny from all
</Files>

<Files backup.php>
  Order Deny,Allow
  Allow from all
</Files>
<Files restore.php>
  Order Deny,Allow
  Allow from all
</Files>
<Files ajax.php>
  Order Deny,Allow
  Allow from all
</Files>